<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Vintastisch</title>

    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/mainText.css">
    <link rel="stylesheet" href="./assets/css/cards.css">
    <link rel="stylesheet" href="./assets/css/offcanvasCart.css">

    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/vue/dist/vue.js"></script>

    <script src="./assets/js/components/navbar2.js"></script>
    <script src="./assets/js/components/cards.js"></script>
    <script src="./assets/js/components/offcanvasCart.js"></script>
    <script src="./assets/js/components/footer.js"></script>
    <script src="./assets/js/data.js"></script>
    <script src="./assets/js/categories.js"></script>
    <script src="./assets/js/vue.js" defer></script>

</head>

<body>
    <div id="app">

        <div class="container content-box" id="background">
            <!-- Navbar -->
            <vin-navbar search></vin-navbar>
            <!-- /Navbar -->

            <div class="accordion" id="accordionExample">

                <div class="accordion-item" v-for="category in catArr">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            :data-bs-target="'#' + category[0][0]" aria-expanded="false" aria-controls="collapseOne">
                            {{ category[0][0] }}
                        </button>
                    </h2>
                    <div :id="category[0][0]" class="accordion-collapse collapse " aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample" :class="{ show: query == category[0] }">
                        <div class="accordion-body">
                            <ul>
                                <li v-for="subcategory in category[1]">
                                    <input v-model="catRad" class="form-check-input" type="radio"
                                        name="flexRadioDefault" :id="subcategory" :value="subcategory">
                                    <label class="form-check-label" :for="subcategory">
                                        {{ subcategory }}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <ul class="list-group" v-if="catRad">
                <li v-for="item in catList" class="list-group-item" style="height: 200px;">
                    <div class="d-flex h-100">
                        <img :src=" item.thumbnail" class="img-thumbnail h-100" alt="...">
                        <div class="d-flex flex-column justify-content-between my-3">
                            <div>
                                <a :href="'/item.html#' + item.ID">
                                    <h5>{{item.name}}</h5>
                                </a>
                            </div>
                            <div>
                                <p>{{item.short}}</p>
                            </div>
                            <div>
                                <p>{{new
                                    Intl.NumberFormat(undefined,{style:'currency',currency:'EUR'}).format(item.price)}}
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>



            <!-- Footer -->
            <vin-footer></vin-footer>
            <!-- /Footer -->

        </div>

        <!-- Shopping cart -->
        <hidden-cart-list :items="cartItems" :totalprice="totalPrice" @remove-from-cart="removeFromCart">
        </hidden-cart-list>
        <div class="shopping-cart" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{amtItemsInCart}}
                <span class="visually-hidden">amount of items in cart</span>
            </span>
            <i class="bi bi-cart4"></i>
        </div>
        <!-- /Shopping cart -->


    </div>

</body>

</html>