<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Vintastisch</title>

    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/mainText.css">
    <link rel="stylesheet" href="./assets/css/cards.css">
    <link rel="stylesheet" href="./assets/css/offcanvasCart.css">

    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/vue/dist/vue.js"></script>

    <script src="./assets/js/components/navbar2.js"></script>
    <script src="./assets/js/components/cards.js"></script>
    <script src="./assets/js/components/offcanvasCart.js"></script>
    <script src="./assets/js/components/footer.js"></script>
    <script src="./assets/js/data.js"></script>
    <script src="./assets/js/vue.js" defer></script>

</head>

<body class="content-box">

    <div id="app">
        <div class="container content-box" id="background">

            <vin-navbar @remove-from-cart="removeFromCart"></vin-navbar>

            <div class="container my-5">
                <div class="mb-3">
                    <input v-model.number="ID" type="number" placeholder="ID">
                    <input v-model="name" placeholder="name">
                </div>
                <div class="mb-3">
                    <input v-model="thumbnail" placeholder="thumbnail">
                    <input v-model="state" placeholder="state">
                </div>
                <div class="mb-3">
                    <input v-model="images" placeholder="images">
                    <input v-model="material" placeholder="material">
                </div>
                <div class="mb-3">
                    <input v-model="designer" placeholder="designer">
                    <input v-model="brand" placeholder="brand">
                </div>
                <div class="mb-3">
                    <input v-model="style" placeholder="style">
                    <input v-model="period" placeholder="period">
                </div>
                <div class="mb-3">
                    <input v-model="stock" placeholder="stock">
                    <input v-model="price" placeholder="price">
                </div>
                <div class="mb-3">
                    <textarea v-model="description" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="container">
                <code>
            {                           <br>
                ID: "{{ID}}",           <br>
                name: "{{name}}",       <br>
                description: "{{description}}", <br>
                thumbnail: "{{thumbnail}}",     <br>
                images: [{{images}}],   <br>
                material: "{{material}}",<br>
                designer: "{{designer}}",<br>
                brand: "{{brand}}",<br>
                style: "{{style}}",<br>
                period: "{{period}}",<br>
                state: "{{state}}",<br>
                sellerId: "{{sellerId}}",<br>
                stock: {{stock}},<br>
                price: {{price}}<br>

            }
            </code>
            </div>
            <!-- Footer -->
            <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-transparent text-white-50">
                <div class="container text-center">
                    <small>Copyright &copy; Vintastisch</small>
                </div>
            </footer>
        </div>
        <!-- /Footer -->
    </div>


</body>

</html>