@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

.carousel-caption-lower {
  background-color: rgba(0, 0, 0, 0.2); /* Black w/opacity/see-through */
  backdrop-filter: blur(5px);
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-family: "Fugaz One", cursive;
  color: #f58152;
}

.carousel-caption-upper {
  background-color: rgba(0, 0, 0, 0.2); /* Black w/opacity/see-through */
  backdrop-filter: blur(5px);
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
.carousel-caption-upper h2 {
  font-family: "Fugaz One", cursive;
  color: #f58152;
}
